.dialogs{
    width: 100%;
}
.dialog_menu{
    /*margin-bottom: 10px;*/
    margin-bottom: -1px;
}
.dialogs_id{
    width: 10px;
}
.dialogs_new{
    width: 10px;
}
.dialogs_title{}
.dialogs_last{
    width: 200px;
}
.dialogs_operations{
    width: 80px;
}
.dialog_unreaded{
    font-weight: bold;
}
.dialog_menu li.pure-menu-selected a{
    color: #333 !important;
    font-weight: bold;
}
.dialog_menu li.pure-menu-selected {
    background: #e0e0e0;
}

.chat-box {
    list-style: none;
    background: #f5f5f5;
    margin: 0;
    padding: 0 0 20px 0;
    overflow-y: auto;
}
.chat-box li {
    width: 600px;
    padding: 15px;
    overflow: hidden;
    display: block;
    position: relative;
}
.chat-box .avatar-icon {
    float: left;
    position: relative;
    height: 60px;
}
.chat-box .avatar-icon img {
    width: 60px;
}
.messages {
    float: left;
    width: 500px;
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.messages p {
    font-size: 12px;
    margin: 0 0 0.2rem 0;
}
.messages time {
    font-size: 12px;
    color: #ccc;
}
.me{
    margin-left: 95px;
}
.me .messages {
    float: right;
    margin-right: 60px;
}
.me .avatar-icon {
    float: right;
    bottom: 0;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.me .avatar-icon img {
}
.me .avatar-icon:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.another .avatar-icon:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
.chat_input{
    width: 100%;
    height: 40px !important;
    min-height: 40px;
    margin-bottom: 5px;
}